header{
	background-image: url('./img/mad_header.png');
}
h2{
	color: #652e8e;
}

h3{
	color: #f2a113;
}

 a.titlechange {
	color: #652e8e;

}
.fill-lighten {
	background-color: rgba(255, 255, 255, 0.3);
}

.fill-orange2{
	background-color:#F2A113;
	color: #fff;
	padding: 4em;


}

.fill-orange2 h1,.fill-orange2  h2 ,.fill-orange2 h3{
	color: #fff;
}

.fill-purple h1,.fill-purple h2,.fill-purple h3{
	color: #fff;
}